@import "../../../styles/mixins/clearFix";

@import "../../../styles/base/variables";

.payment-info-form {
  .payment-info-form__inner-container {
    .clearFix();
  }

  .payment-info-form__input-container {
    display: inline-block;
    width: 100%;
    margin-bottom: @margin-base;
    box-sizing: border-box;
  }

  .payment-info-form__title-container {
    padding-bottom: @padding-base;
    margin-bottom: 2 * @margin-base;
    border-bottom: 1px solid @black;
  }

  .payment-info-form__title {
    font-weight: bold;
  }

  .payment-info-form__label-container {
    display: block;
    padding-bottom: @padding-base;
  }

  .payment-info-form__label {
    font-weight: bold;
    color: @black;
  }

  .payment-info-form__card-info-container {
    padding-bottom: 4 * @padding-base;
  }

  .payment-info-form__address-option {
    display: block;
    padding-bottom: @padding-base;
  }

  .payment-info-form__address-options {
    display: block;
  }
}
