@import "~lesshat/lesshat";

@import "../../../../styles/base/variables";

.card-type-item {
  .card-type-item__inner-container {
  }

  .card-type-item__pillow {
    display: inline-block;
    width: 45px;
    height: 27px;
    overflow: hidden;
    background: #fff;
    border: 1px solid @form-element-border-color;
    border-radius: 4px;
  }

  .card-type-item__image {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
  }
}
