@import "../../../styles/mixins/clearFix";

@import "../../../styles/base/variables";

.order-price-item {
  .order-price-item__inner-container {
    display: table;
    width: 100%;
    padding: @padding-base 0;
  }

  .order-price-item__label-container {
    display: table-cell;
    vertical-align: middle;
  }

  .order-price-item__label {
    font-family: @avenir-medium;
    font-size: @font-size-base;
    color: @base-text-color;
    text-transform: uppercase;
  }

  .order-price-item__value-container {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
  }

  .order-price-item__value {
    font-family: @avenir-medium;
    font-size: @font-size-base;
    color: @base-text-color;
  }

  &.order-price-item--total {
    padding-top: 2 * @padding-base;
    margin-top: 2 * @padding-base;
    border-top: 1px solid @light-gray;

    .order-price-item__label,
    .order-price-item__value {
      font-size: 1.1428571429 * @font-size-base;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &.order-price-item--discount {
  }
}
