@import "../../../styles/mixins/clearFix";

@import "../../../styles/base/variables";

@import "~lesshat/lesshat";

.order-total-price {
  position: relative;

  .order-total-price__inner-container {
    &.order-total-price__inner-container--blured {
      .blur(5px);
    }
  }

  .order-total-price__title-container {
    padding-bottom: @padding-base;
    border-bottom: 1px solid @black;
  }

  .order-total-price__title {
    font-weight: bold;
  }

  .order-total-price__promo-code-editor-container {
    margin-top: 2 * @margin-base;
  }

  .order-total-price__items-list {
    display: table;
    width: 100%;
    padding-top: @padding-base;
  }

  .order-total-price__item-container {
    display: table-row;
    width: 100%;
    margin: @margin-base 0;
  }

  .order-total-price__processing-message {
    font-size: @h2-font-size;
    color: @orange;
  }
}
