@import "../../../styles/base/variables";

.text-field {
  .text-field__inner-container {
    position: relative;
    box-sizing: border-box;
  }

  .text-field__input-container {
    position: relative;
    box-sizing: border-box;
  }

  .text-field__validation-message-container {
    &.text-field__validation-message-container--outside {
      display: block;
      padding-top: @padding-base;
    }

    &.text-field__validation-message-container--inside {
      position: absolute;
      top: 35%;
      right: @padding-base;
    }
  }

  .text-field__validation-message {
    font: inherit;
    color: @red;
  }
}
