@import "~lesshat/lesshat";

@import "../../../styles/base/variables";

.card-info-fieldset {
  .card-info-fieldset__input-container {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-bottom: @padding-base;
    box-sizing: border-box;
  }

  .card-info-fieldset__column {
    padding-right: @padding-base;

    &:last-child {
      padding-right: 0;
    }

    @media @small-screen, @medium-screen {
      padding-right: 0;
    }
  }

  .card-info-fieldset__header-container {
    display: table;
    width: 100%;
    padding-bottom: @padding-base;
    color: @black;
  }

  .card-info-fieldset__description-container {
    display: table-cell;
    width: 30%;

    @media @small-screen, @medium-gray {
      display: table-row;
    }
  }

  .card-info-fieldset__description {
    font-weight: bold;
  }

  .card-info-fieldset__note-container {
    display: table-cell;
    width: 70%;
    text-align: right;

    @media @small-screen, @medium-gray {
      display: table-row;
      text-align: left;
    }
  }

  .card-info-fieldset__note {
    padding-top: @padding-base;
  }

  .card-info-fieldset__input {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .card-info-fieldset__card-types-container {
    .display(flex);    .justify-content(space-around);    .align-items(center);
    height: 45px;
    box-sizing: border-box;
  }
}
