@import "~lesshat/lesshat";

@import "variables";

.columns-layout {
  .align-items(stretch);  .display(flex);  .flex-wrap(wrap);
  width: 100%;

  .columns-layout__column {
    .flex(1, 1, 100%);
    box-sizing: border-box;

    &.columns-layout__column--lg-100 {
      @media @large-screen {
        .flex(1, 1, 100%);
      }
    }

    &.columns-layout__column--lg-66 {
      @media @large-screen {
        .flex(1, 1, 66%);
      }
    }

    &.columns-layout__column--lg-50 {
      @media @large-screen {
        .flex(1, 1, 50%);
      }
    }

    &.columns-layout__column--lg-33 {
      @media @large-screen {
        .flex(1, 1, 33%);
      }
    }

    &.columns-layout__column--md-100 {
      @media @medium-screen {
        .flex(1, 1, 100%);
      }
    }

    &.columns-layout__column--md-66 {
      @media @medium-screen {
        .flex(1, 1, 66%);
      }
    }

    &.columns-layout__column--md-50 {
      @media @medium-screen {
        .flex(1, 1, 50%);
      }
    }

    &.columns-layout__column--md-33 {
      @media @medium-screen {
        .flex(1, 1, 33%);
      }
    }

    &.columns-layout__column--sm-100 {
      @media @small-screen {
        .flex(1, 1, 100%);
      }
    }

    &.columns-layout__column--sm-66 {
      @media @small-screen {
        .flex(1, 1, 66%);
      }
    }

    &.columns-layout__column--sm-50 {
      @media @small-screen {
        .flex(1, 1, 50%);
      }
    }

    &.columns-layout__column--sm-33 {
      @media @small-screen {
        .flex(1, 1, 33%);
      }
    }
  }

  &.columns-layout--reverse-wrap {
    .flex-wrap(wrap-reverse);
  }
}
