@import "./variables";

@import "../mixins/clearFix";

@import "../mixins/gridGenerateColumns";

.grid {
  @columns-margin: 20px;
  @columns-count: 12;  .clearFix();  .grid-generate-columns(@columns-count);
  width: auto;
  margin-right: -@columns-margin;

  [class*="grid__column-"] {
    float: left;
    min-height: 1px;
    padding-right: @columns-margin;
    box-sizing: border-box;
  }

  @media @large-screen {
    @columns-margin: 30px;
    margin-right: -@columns-margin;

    [class*="grid__column-"] {
      padding-right: @columns-margin;
    }
  }
}
