@import "./variables";

@import "~lesshat/lesshat";

body.decovo-checkout {
  @media @large-screen {
    overflow-y: scroll;
    background: white top center repeat;
    background-size: 100% auto;
  }
}

#main {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.layout {
  .layout__container {
    max-width: @layout-max-width;
    min-width: @layout-min-width;
    margin: 0 auto;
  }
}
