@import "./variables";

body {
  font-family: @base-font-family;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .5em;
  font-family: @headings-font-family;
  color: @black;
}

h1 {
  margin-bottom: 20px;
  font-size: @h1-font-size;
  font-weight: bold;
  line-height: 32px;
  letter-spacing: 1.2px;
  text-transform: uppercase;

  @media @large-screen {
    font-size: 30px;
  }
}

h2 {
  font-size: @h2-font-size;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h3 {
  margin-bottom: 10px;
  font-size: @h3-font-size;
  line-height: 20px;
  letter-spacing: .2px;
  color: @gray;
  text-transform: capitalize;
}

h4 {
  font-size: @h4-font-size;
}

h5 {
  font-size: @h5-font-size;
}

h6 {
  font-size: @h6-font-size;
}

p,
label {
  color: @black;
}

a {
  color: @base-link-color;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
