// colors
@black: #424242;
@gray: #444;
@medium-gray: #757575;
@white: #fff;
@blue: #4A90E2;
@gray-dark: #BDBDBD;
@light-gray: #e0e0e0;
@lighten-gray: #F5F5F5;

@orange: #FD8235;
@red: #FD3535;

// fonts
@base-font-sans-serif: 'Avenir LT W01_45 Book1475508', 'Helvetica Neue', 'Helvetica', sans-serif;
@avenir-heavy: 'Avenir LT W01_85 Heavy1475544', 'Helvetica Neue', 'Helvetica', sans-serif;
@avenir-medium: 'Avenir LT W01_65 Medium1475532', 'Helvetica Neue', 'Helvetica', sans-serif;
@base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;

// body

@base-link-color: @blue;
@base-text-color: @black;
@base-background-color: @white;
@font-size-base: 14px;
@line-height-base: 1.571428571;
@base-font-family: @base-font-sans-serif;

@vertical-rhythm: (@line-height-base * 1em);

@base-min-width: 320px;

//margins
@margin-base: 10px;
@padding-base: 10px;

// layout
@layout-container-width: 1170px;
@layout-max-width: 1280px;;
@layout-min-width: 320px;

//media
@small-screen: ~"screen and (max-width: 767px)";
@medium-screen: ~"screen and (min-width: 768px) and (max-width: 1023px)";
@large-screen: ~"screen and (min-width: 1024px)";

// buttons
@btn-color: @white;
@btn-background: @black;
@btn-padding: 0.4em 0.7em;
@btn-font-size: inherit;

// forms
@form-element-padding: @btn-padding;
@form-element-border-color: @light-gray;
@form-element-focus-border-color: @black;
@placeholder-color: @gray-dark;

// headers
@h1-font-size: 22px;
@h2-font-size: 16px;
@h3-font-size: 14px;
@h4-font-size: 13px;
@h5-font-size: 12px;
@h6-font-size: 11px;

@headings-font-family: @avenir-heavy;
@headings-color: inherit;


@animation-speed: 0.3s;
