@import "./variables";

.visibility-layout {
  display: none;

  &.visibility-layout--large {
    @media @large-screen {
      display: block;
    }
  }

  &.visibility-layout--medium {
    @media @medium-screen {
      display: block;
    }
  }

  &.visibility-layout--small {
    @media @small-screen {
      display: block;
    }
  }
}
