@import "../../../styles/mixins/clearFix";

@import "../../../styles/base/variables";

.copyright {
  display: inline-block;

  .copyright__inner-container {
  }

  .copyright__powered-by-container {
    text-align: inherit;
  }

  .copyright__powered-by {
    display: inline-block;
    margin: 5px;
    vertical-align: top;
  }

  .copyright__dynamic-info {
    display: inline-block;
    margin: 5px;
  }

  .copyright__details-container {
    text-align: right;
  }

  .copyright__details {
    font-size: 12px;

    a {
      color: @orange;
      text-decoration: none;
      transition: color .3s ease-in-out;

      &:hover {
        color: @blue;
      }
    }
  }
}
