@import "../../../styles/mixins/clearFix";

@import "../../../styles/base/variables";

.logo {
  display: block;
  max-width: 250px;
  font-family: @avenir-heavy;
  font-size: 22px;
  font-weight: normal;
  line-height: 26px;
  letter-spacing: 1px;
  text-transform: uppercase;

  @include media (">=tablet") {
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
  }

  a {
    color: lighten(@base-text-color, 20%);
    text-decoration: none;
  }
}
