@import "../../../styles/mixins/clearFix";

@import "../../../styles/base/variables";

@import "~lesshat/lesshat";

.shopping-bag-item {
  .shopping-bag-item__inner-container {
    .box-sizing(border-box);
    position: relative;
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  .shopping-bag-item__content {
    display: table-cell;
    padding-top: @padding-base;
    padding-left: 2 * @padding-base;
  }

  .shopping-bag-item__adaptive-container {
    display: table;
    width: 100%;
  }

  .shopping-bag-item__image-container {
    .box-sizing(border-box);
    display: table-cell;
    width: 140px;
    height: 140px;
    padding: @padding-base;
    text-align: center;
    vertical-align: middle;
    background: @lighten-gray;
    border: 1px solid @light-gray;

    @media @medium-screen {
      width: 110px;
      height: 110px;
    }

    @media @small-screen {
      width: 70px;
      height: 70px;
    }
  }

  .shopping-bag-item__image {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
  }

  .shopping-bag-item__title-container {
    .box-sizing(border-box);
    width: 100%;
    padding-bottom: @padding-base;
  }

  .shopping-bag-item__title {
    font-size: @font-size-base;
    font-weight: bold;
    color: @black;
  }

  .shopping-bag-item__amount-container {
    .box-sizing(border-box);
    display: table-cell;
    width: 40%;
    min-width: 70px;
    padding: @padding-base @padding-base @padding-base 0;
  }

  .shopping-bag-item__amount-control {
    font-size: @font-size-base;
  }

  .shopping-bag-item__amount-text {
    font-size: @font-size-base;
    color: @black;
  }

  .shopping-bag-item__price-container {
    .box-sizing(border-box);
    display: table-cell;
    width: 30%;
    padding: @padding-base;
    text-align: right;
    vertical-align: middle;
  }

  .shopping-bag-item__price {
    font-size: @font-size-base;
    color: @black;
  }

  .shopping-bag-item__controls-container {
    display: table-cell;
    width: 30%;
    padding: @margin-base;
    text-align: right;
    vertical-align: middle;

    @media @medium-screen {
      display: table-row;
      width: 100%;
      text-align: left;
    }
  }

  .shopping-bag-item__link {
    font-size: 12px;
    font-style: italic;
    color: @blue;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}
