@import "../../../styles/mixins/clearFix";

@import "../../../styles/base/variables";

@import "~lesshat/lesshat";

.order-page-form {
  .order-page-form__inner-container {
    .clearFix();
  }

  .order-page-form__form-container {
    .clearFix();

    @media @small-screen {
      .flex-wrap(wrap-reverse);
    }

    &.order-page-form__form-container--blured {
      .blur(5px);
    }
  }

  .order-page-form__submit-container {
    width: 100%;

    @media @medium-screen, @large-screen {
      width: 50%;
    }
  }

  .order-page-form__payment-info-container {
    width: 100%;
    padding-top: 5 * @padding-base;
    padding-bottom: 5 * @padding-base;
  }

  .order-page-form__shopping-bag-container,
  .order-page-form__order-summary-container {
    padding-bottom: 5 * @padding-base;

    @media @large-screen {
      padding-left: 110px;
    }

    @media @medium-screen {
      padding-left: 50px;
    }

    @media @small-screen {
      padding-left: 0;
    }
  }
}
