@import "../../../styles/mixins/clearFix";

@import "../../../styles/base/variables";

.footer-navigation {
  display: inline-block;

  .footer-navigation__inner-container {
    display: inline-block;

    @media @small-screen, @medium-screen {
      text-align: center;
    }
  }

  .footer-navigation__item-container {
    display: inline-block;
    padding: @padding-base;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    @media @small-screen, @medium-screen {
      text-align: center;

      &:first-child {
        padding-left: @padding-base;
      }

      &:last-child {
        padding-right: @padding-base;
      }
    }
  }

  .footer-navigation__item {
    display: inline-block;
    padding: @padding-base;
    font-weight: bold;
    color: @orange;
    text-decoration: none;
    transition: color .3s ease-in-out;

    &:hover {
      color: @blue;
    }
  }
}
