@import "../../../styles/mixins/clearFix";

@import "../../../styles/base/variables";

.footer-features {
  display: inline-block;

  .footer-features__inner-container {
    display: table;
  }

  .footer-features__item-container {
    display: table-cell;
    padding: @padding-base;

    &:after {
      color: @medium-gray;
      content: ".";
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  .footer-features__item {
    color: @medium-gray;
  }
}
