@import "../../../styles/mixins/clearFix";

@import "../../../styles/base/variables";

.footer {
  @double-padding: 2 * @padding-base;
  padding: 40px @padding-base 50px @padding-base;
  background: darken(@white, 1.96);
  border-top: 1px solid @light-gray;

  .footer__inner-container {
    .clearFix();
    box-sizing: border-box;

    @media @large-screen {
      display: table;
      width: 100%;
    }
  }

  .footer__info-container {
    display: inline-block;
    box-sizing: border-box;

    @media @small-screen, @medium-screen {
      display: block;
      padding-bottom: @padding-base;
      text-align: center;
    }
  }

  .footer__info {
    font-weight: bold;

    a {
      color: @orange;
      text-decoration: none;
      transition: color .3s ease-in-out;

      &:hover {
        color: @blue;
      }
    }
  }

  .footer__navigation-container {
    display: inline-block;
    padding: 0 @double-padding;
    vertical-align: top;
    box-sizing: border-box;

    @media @small-screen, @medium-screen {
      display: block;
      padding: 0;
      text-align: center;
    }
  }

  .footer__copyright-container {
    display: block;
    float: right;
    text-align: right;
    box-sizing: border-box;

    @media @small-screen, @medium-screen {
      display: block;
      float: none;
      padding: @double-padding;
      text-align: center;
    }
  }

  .footer__features-container {
    padding-top: @double-padding;

    @media @small-screen, @medium-screen {
      display: none;
    }
  }
}
