@import "~lesshat/lesshat";

.operation-loader {
	width: inherit;
	min-width: inherit;
	height: inherit;
	min-height: inherit;

	.operation-loader__message-container {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 20px 0;
		text-align: center;
		box-sizing: border-box;
	}

	.operation-loader__message {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);
	}

	.operation-loader__overlay {
		position: absolute;
		top: 0;
		left: 0;
		display: none;
		width: 100%;
		height: 100%;
		z-index: 10;
	}

	&.operation-loader--visible {
		.operation-loader__content {
			.blur(5px);
		}

		.operation-loader__overlay{
			display: block;
		}
	}
}
