@import "../../../styles/mixins/clearFix";

@import "../../../styles/base/variables";

.order-details {
  .order-details__inner-container {
    .clearFix();
    padding-bottom: 5 * @padding-base;
    font-family: inherit;
  }

  .order-details__title-container {
    padding-bottom: @padding-base;
    margin-bottom: 2 * @margin-base;
    border-bottom: 1px solid @black;
  }

  .order-details__title {
    font-weight: bold;
  }

  .order-details__confirmation-title-container {
    padding-bottom: @padding-base;
  }

  .order-details__confirmation-title {
    font-size: @h2-font-size;
    font-weight: bold;
    color: @black;
  }

  .order-details__message-container {
    padding-bottom: 3* @padding-base;
    text-align: justify;
  }

  .order-details__message {
    font-size: @font-size-base;
    line-height: @line-height-base;
    color: @black;
  }

  .order-details__submit-container {
    width: 100%;
  }

  .order-details__map-container {
    padding-bottom: 5 * @padding-base;
  }

  .order-details__properties {
    width: 100%;
    padding-bottom: 5 * @padding-base;
  }

  .order-details__property-container {
    width: 100%;
    padding-bottom: 2 * @padding-base;
  }

  .order-details__controls-container {
    padding-top: 5 * @padding-base;
    border-top: 1px solid @black;
  }

  .order-details__contact-us-message {
    font-weight: bold;
    color: @black;
    text-decoration: none;
    text-transform: uppercase;

    @media @small-screen {
      text-align: center;
    }
  }

  .order-details__help-link {
    display: inline-block;
    padding: @padding-base;
    color: @orange;
    cursor: pointer;
    transition: color .3s ease-in-out;

    &:hover {
      color: @blue;
    }
  }

  .order-details__print-link-container {
    padding: 3*@padding-base 0;
    text-align: right;

    @media @small-screen {
      text-align: center;
    }
  }

  .order-details__print-link {
    display: inline-block;
    color: @black;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
  }

  .order-details__shopping-bag-container {
    padding-bottom: 5 * @padding-base;
  }

  .order-details__shopping-bag-container,
  .order-details__order-summary-container,
  .order-details__continue-container,
  .order-details__print-link-container {
    @media @large-screen {
      padding-left: 110px;
    }

    @media @small-screen, @medium-screen {
      padding-left: 0;
    }
  }
}
