@import "../../../styles/mixins/clearFix";

@import "../../../styles/base/variables";

.order-property {
  .order-property__inner-container {
    display: table;
    width: 100%;
  }

  .order-property__label-container {
    display: table-cell;
    width: 25%;
    padding-right: @padding-base;
    text-align: left;
  }

  .order-property__label {
    font-size: @font-size-base;
    font-weight: bold;
    color: @black;
  }

  .order-property__value-container {
    display: table-cell;
    width: 75%;
    text-align: left;
  }

  .order-property__value {
    display: block;
    font-size: @font-size-base;
    line-height: @line-height-base;
    color: @black;
  }
}
