@import "../../../styles/base/variables";

.map-panel {
  position: relative;
  display: block;
  width: 100%;
  height: 450px;
  overflow: hidden;
  box-sizing: border-box;

  .leaflet-container {
    height: 100%;
  }
}
