<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="version" content="<%= htmlWebpackPlugin.options.data.version %>"/>
    <title>Decovo Checkout</title>
    <link rel="icon" href="/checkout/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1"/>
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/3cbcb144-8e88-41ae-a4c6-01dc4516b4b2.css"/>

    <!--[if lt IE 10]>
    <style>
        #main {
            display: none;
        }

        #legacy-browser-notification {
            display: block !important;
        }
    </style>
    <![endif]-->
</head>

<body class="decovo-checkout">

<div id="legacy-browser-notification" className="decovo-checkout__legacy-notification" style="display: none;">
    <div class="global-toaster__container global-toaster__container--full-fixed">
        <div class="global-toaster global-toaster--warning">
            <p>Your web browser is out-of-date. Please update your browser to use Decovo Checkout.<br/>(IE 9 or higher, Chrome, Firefox, or Safari)</p>
        </div>
    </div>
</div>

<div id="main" className="decovo-checkout__application"></div>

</body>
</html>
