@import "../base/variables";

.button {
  .appearance(none);
  display: inline-block;
  padding: @padding-base;
  font-size: @h3-font-size;
  font-weight: bold;
  color: @white;
  text-transform: uppercase;
  cursor: pointer;
  background-color: @blue;
  border: 0;

  .button__loader {
    display: none;
    width: 16px;
    height: 16px;
    padding: 0 @padding-base;
    margin-bottom: -2px;
  }

  &:hover {
    background-color: lighten(@blue, 10%);
  }

  &.button--full {
    display: block;
    width: 100%;
  }

  &.button--loading {
    .button__loader {
      display: inline-block;
    }
  }

  &.button[disabled] {
    background-color: @gray-dark;
  }
}
