@import "~lesshat/lesshat";

@import "../base/variables";

input[type="text"],
input[type="tel"],
input[type="number"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
  .appearance(none);  .border-radius(0);  .placeholder(@placeholder-color);
  width: 100%;
  height: 45px;
  padding: 8px 10px;
  font: inherit;
  color: @form-element-focus-border-color;
  border: 1px solid @form-element-border-color;
  outline: none;
  box-sizing: border-box;
  transition: border-color 200ms ease;

  &:focus {
    border-color: @form-element-focus-border-color;
  }
}

.text-input {
  .appearance(none);  .border-radius(0);  .placeholder(@placeholder-color);
  width: 100%;
  height: 45px;
  padding: 8px 10px;
  font: inherit;
  color: @form-element-focus-border-color;
  border: 1px solid @form-element-border-color;
  outline: none;
  box-sizing: border-box;
  transition: border-color 200ms ease;

  &:focus {
    border-color: @form-element-focus-border-color;
  }

  &.text-input--invalid {
    border-color: @red;

    &:focus {
      border-color: @red;
    }
  }
}

.masked-text-input {
  &.masked-text-input--invalid {
    border-color: @red;

    &:focus {
      border-color: @red;
    }
  }
}

.credit-card-input {
  &.credit-card-input--invalid {
    border-color: @red;

    &:focus {
      border-color: @red;
    }
  }
}
