@import "../base/variables";

.modal {
  @media @large-screen {
    max-width: @layout-container-width;

    &.modal--small---large {
      max-width: 600px;
    }
  }

  @media @small-screen {
    padding: 0 20px;
    box-sizing: border-box;
  }

  &.modal--animated {
    opacity: .01;
    transition: opacity .5s ease-in;

    &.ReactModal__Content--after-open {
      opacity: 1;
    }

    &.ReactModal__Content--after-open.ReactModal__Content--before-close {
      opacity: .01;
    }
  }
}

.modal__overlay.modal__overlay--animated {
  opacity: .01;
  transition: opacity .5s ease-in;

  &.ReactModal__Overlay--after-open {
    opacity: 1;
  }

  &.ReactModal__Overlay--after-open.ReactModal__Overlay--before-close {
    opacity: .01;
  }
}

@media @small-screen {
  .modal__overlay {
    &.modal__overlay--local {
      position: fixed;
    }
  }
}
