@import "../base/variables";

.page {
  .page__inner-container {
    position: relative;
    min-height: 40vh;
    padding: 50px 20px 150px 20px;
  }

  .page__title-container {
    display: block;
    padding-bottom: 30px;
    text-align: left;
  }

  .page__title {
    font-family: @avenir-heavy;
    font-size: 30px;

    @media @small-screen {
      font-size: 24px;
    }
  }
}
