@import "~lesshat/lesshat";

@import "../base/variables";

.radio-input {
  line-height: 22px;
  cursor: pointer;

  .radio-input__input {
    display: none;
  }

  .radio-input__inner-container {
    display: inline-block;
  }

  .radio-input__bullet-container {
    .transition(border-color @animation-speed ease-in-out);
    position: relative;
    display: inline-block;
    width: @font-size-base;
    height: @font-size-base;
    margin: 2px;
    margin-right: @margin-base;
    vertical-align: middle;
    border: 1px solid @gray-dark;
    border-radius: 100%;

    &:before {
      .transition(opacity @animation-speed ease-in-out);
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      display: block;
      margin: auto;
      background: @blue;
      border-radius: 100%;
      content: " ";
      opacity: 0;
    }
  }

  .radio-input__label {
    .transition(color @animation-speed ease-in-out);
    color: @gray-dark;
    vertical-align: middle;
  }

  &.radio-input--checked {
    .radio-input__bullet-container {
      border-color: @black;
    }

    .radio-input__bullet-container:before {
      opacity: 1;
    }

    .radio-input__label {
      color: @base-text-color;
    }
  }
}
