@import "~lesshat/lesshat";

@import "../base/variables";

.scrollbar() {
  /*internet explorer scrollbalken*/
  scrollbar-base-color: @form-element-focus-border-color;
  scrollbar-3dlight-color: @form-element-focus-border-color;
  scrollbar-highlight-color: @form-element-focus-border-color;
  scrollbar-track-color: @white;
  scrollbar-arrow-color: @form-element-focus-border-color;
  scrollbar-shadow-color: @form-element-focus-border-color;
  scrollbar-dark-shadow-color: @form-element-focus-border-color;

  /*mozilla scrolbalken*/
  scrollbar {
    background: rgb(0, 255, 0) !important;

    -moz-appearance: none !important;
  }

  thumb,
  scrollbarbutton {
    background-color: rgb(0, 0, 255) !important;

    -moz-appearance: none !important;
  }

  thumb:hover,
  scrollbarbutton:hover {
    background-color: rgb(255, 0, 0) !important;

    -moz-appearance: none !important;
  }

  scrollbarbutton {
    display: none !important;
  }

  scrollbar[orient="vertical"] {
    min-width: 15px !important;
  }

  /**/
  .scrollbar-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 20px;
    overflow: auto;
    background-color: @white;
    border: 4px solid @form-element-focus-border-color;
  }

  .scrollbar-container .inner {
    width: 1985px;
    height: 2011px;
    padding: 1em;
    font-family: sans-serif;
    background-color: @white;
  }

  ::-webkit-scrollbar {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: @form-element-focus-border-color;
    border: solid @white 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: @form-element-focus-border-color;
  }
}

.select-box {
  .scrollbar();
  width: 100%;

  .Select-control {
    .border-radius(0);
    height: 45px;
    cursor: pointer;
    border-color: @form-element-border-color;
    transition: all 200ms ease;
  }

  &.has-value {
    .Select-placeholder {
      color: @form-element-focus-border-color;
    }
  }

  .Select-placeholder {
    line-height: 41px;
  }

  .Select-value {
    .border-radius(0);
    max-width: 90% !important;
  }

  .Select-value-label {
    line-height: 41px;
  }

  .Select-menu-outer {
    .border-radius(0);
    overflow-y: auto;
    background-color: white;
    border: 1px solid @form-element-focus-border-color;
    box-sizing: border-box;

    -webkit-overflow-scrolling: touch;
  }

  .Select-option {
    .border-radius(0);
    color: @form-element-focus-border-color;
    cursor: pointer;

    &.is-focused {
      color: @white;
      background: @form-element-focus-border-color;
    }
  }

  &.select-box--invalid {
    .Select-control {
      border-color: @red;
    }

    .Select-placeholder {
      display: none;
    }
  }

  &.is-focused {
    .Select-control {
      .box-shadow(0 0 0 @form-element-focus-border-color);
      border-color: @form-element-focus-border-color;
    }

    &:not(.is-open) {
      .Select-arrow {
        border-color: @form-element-focus-border-color transparent transparent;
      }
    }

    &.is-open {
      .Select-arrow {
        border-color: transparent transparent @form-element-focus-border-color;
      }
    }
  }

  &.is-open {
    &:not(.is-focused) {
      .Select-arrow {
        border-color: transparent transparent @form-element-border-color;
      }
    }

    &.is-focused {
      .Select-arrow {
        border-color: transparent transparent @form-element-focus-border-color;
      }
    }
  }
}
