@import "~lesshat/lesshat";

@import "../../../styles/base/variables";

.promo-code-input {
  .promo-code-input__inner-container {
    display: table;
    width: 100%;
  }

  .promo-code-input__label-container {
    display: table-cell;
    vertical-align: middle;
  }

  .promo-code-input__controls-container {
    display: table-cell;
    font-size: 0;
    text-align: right;
    vertical-align: middle;
  }

  .promo-code-input__label {
    font-family: @avenir-heavy;
    font-size: @font-size-base;
    line-height: 20px;
    color: @gray;
  }

  .promo-code-input__link {
    font-size: 12px;
    font-style: italic;
    color: @blue;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  &.promo-code-input--applied {
    .promo-code-input__label {
      font-style: italic;
      color: @orange;
    }
  }

  &.promo-code-input--edit-mode {
    .promo-code-input__inner-container {
      display: block;
    }

    .promo-code-input__input-container {
      position: relative;
      margin-top: 10px;
    }

    .promo-code-input__link-wrapper {
      .display(flex);      .translateY(-50%);
      position: absolute;
      top: 50%;
      right: 10px;
    }
  }
}
