@import "../../../styles/mixins/clearFix";

@import "../../../styles/base/variables";

.contact-info-form {
  .contact-info-form__inner-container {
    .clearFix();
  }

  .contact-info-form__input-container {
    display: inline-block;
    width: 100%;
    margin-bottom: @margin-base;
    box-sizing: border-box;
  }

  .contact-info-form__block-container {
    padding-top: 3 * @padding-base;
  }

  .contact-info-form__label {
    display: block;
    padding-bottom: @padding-base;
    font-weight: bold;
    color: @black;
  }

  .contact-info-form__input {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .contact-info-form__title-container {
    padding-bottom: @padding-base;
    margin-bottom: 2 * @margin-base;
    border-bottom: 1px solid @black;
  }

  .contact-info-form__title {
    font-weight: bold;
  }
}
