@import "../../../styles/mixins/clearFix";

@import "../../../styles/base/variables";

@import "~lesshat/lesshat";

.shopping-bag-editor {
  .shopping-bag-editor__inner-container {
  }

  .shopping-bag-editor__item-container {
    position: relative;
    padding: 2 * @padding-base 0;
    border-bottom: 1px solid @light-gray;

    &:last-child {
      border-bottom: none;
    }

    &.shopping-bag-editor__item-container--removed {
      padding: 0;
      margin: 2*@padding-base 0;
      border-bottom: none;
    }
  }

  .shopping-bag-editor__title-container {
    padding-bottom: @padding-base;
    border-bottom: 1px solid @black;
  }

  .shopping-bag-editor__title {
    font-weight: bold;
  }

  .shopping-bag-editor__operation-message {
    font-size: @h2-font-size;
    color: @orange;
  }

  .shopping-bag-editor__notification-container {
    display: table;
    width: 100%;
    padding: @padding-base;
    border: 1px solid @orange;
    box-sizing: border-box;
  }

  .shopping-bag-editor__message-container {
    display: table-cell;
    width: 80%;
  }

  .shopping-bag-editor__message {
    font-size: @font-size-base;
    color: @orange;
  }

  .shopping-bag-editor__notification-control-container {
    display: table-cell;
    width: 20%;
    text-align: right;
  }

  .shopping-bag-editor__link {
    font-size: 12px;
    font-style: italic;
    color: @blue;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }
}
