@import "../../../styles/mixins/clearFix";

@import "../../../styles/base/variables";

.address-fieldset {
  .address-fieldset__input-container {
    display: inline-block;
    width: 100%;
    padding-bottom: @padding-base;
    box-sizing: border-box;
  }

  .address-fieldset__column {
    padding-right: @padding-base;

    &:last-child {
      padding-right: 0;
    }

    @media @small-screen {
      padding-right: 0;
    }
  }

  .address-fieldset__header-container {
    display: table;
    width: 100%;
    padding-bottom: @padding-base;
    color: @black;
  }

  .address-fieldset__description-container {
    display: table-cell;
    width: 30%;

    @media @small-screen, @medium-gray {
      display: table-row;
    }
  }

  .address-fieldset__description {
    font-weight: bold;
  }

  .address-fieldset__note-container {
    display: table-cell;
    width: 70%;
    text-align: right;

    @media @small-screen, @medium-gray {
      display: table-row;
      text-align: left;
    }
  }

  .address-fieldset__note {
    padding-top: @padding-base;
  }

  .address-fieldset__input {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
}
