@import '~lesshat/lesshat';

.modal {
    .translate(-50%, -50%);

    position: absolute;
    top: 50%;
    left: 50%;

    width: 100%;
    min-height: 150px;

    outline: none;

    &.modal--indented {
        width: 95%;
    }

    &.modal--centered {
        width: 50%;
    }

    .modal__close-button {
        position: absolute;
        z-index: 1;
        top: 8px;
        right: 7px;

        margin: 0;
        padding: 0;

        cursor: pointer;

        border: none;
        outline: none;
        background: none;
    }

    .modal__close-button-icon {
        font-size: 16px;

        color: #262626;
    }
}

.modal__overlay {
    position: fixed;
    z-index: 15;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(0, 0, 0, .7);

    &.modal__overlay--local {
        position: absolute;
    }
}
