@import "../../../styles/mixins/clearFix";

@import "../../../styles/base/variables";

.header {
  padding: 19px 0;
  background: @lighten-gray;
  border-bottom: 1px solid @light-gray;

  .header__inner-container {
    .clearFix();
    text-align: center;
  }

  .header__logo-container {
    padding: @padding-base @padding-base 2*@padding-base @padding-base;
  }

  .header__title-container {
    padding: @padding-base;
  }

  .header__title {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    color: @medium-gray;
  }

  .header__main-link {
    display: inline-block;
    text-decoration: none;
  }

  @media @large-screen {
    padding: 22px 0;
  }
}
