@import "../../../styles/base/variables";

.select-box-field {
  .select-box-field__inner-container {
    position: relative;
    box-sizing: border-box;
  }

  .select-box-field__input-container {
    position: relative;
    box-sizing: border-box;
  }

  .select-box-field__validation-message-container {
    &.select-box-field__validation-message-container--outside {
      display: block;
      padding-top: @padding-base;
    }

    &.select-box-field__validation-message-container--inside {
      position: absolute;
      top: 35%;
      left: @padding-base;
    }
  }

  .select-box-field__validation-message {
    font: inherit;
    color: @red;
  }
}
